<div>
  <%= link_to "Apply New Leave", new_employee_leave_application_path, class: "btn btn-primary float-end" %>
</div>
<!-- BREADCRUMB -->
<div class="page-meta">
  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Leave Application</li>
    </ol>
  </nav>
</div>
<!-- /BREADCRUMB -->



<div class="row layout-top-spacing">
  <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-8">
      <% if @leave_applications.present? %>
      <table id="zero-config" class="table dt-table-hover" style="width:100%">
        <thead>
          <tr>
            <th>Start date</th>
            <th>End date</th>
            <th>Location</th>
            <th>Leave type</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @leave_applications.each do |leave_application| %>
          <tr>
            <td><%= leave_application.start_date %></td>
            <td><%= leave_application.end_date %></td>
            <td><%= leave_application.leave_location %></td>
            <td><%= leave_application.leave_type.name %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to 'View', employee_leave_application_path(leave_application), class: "dropdown-item" %></li>
                  <li>
                    <% if leave_application.status == "pending" %>
                    <%= link_to 'Edit', edit_employee_leave_application_path(leave_application), class: "dropdown-item", data: { turbolinks: false } %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'Destroy', employee_leave_application_path(leave_application), method: :delete, data: { confirm: 'Are you sure?', turbolinks: false }, class: "dropdown-item" %>

                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <h3 class="text-center p-2 text-secondary">
        Data is not available
      </h3>
      <% end %>
    </div>
  </div>
</div>

