<div>
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= employee.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= employee.date_of_birth %>
  </p>

  <p>
    <strong>Date of joining:</strong>
    <%= employee.date_of_joining %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Primary contact:</strong>
    <%= employee.primary_contact %>
  </p>

  <p>
    <strong>Secondary contact:</strong>
    <%= employee.secondary_contact %>
  </p>

  <p>
    <strong>Address line 1:</strong>
    <%= employee.address_line_1 %>
  </p>

  <p>
    <strong>Address line 2:</strong>
    <%= employee.address_line_2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= employee.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= employee.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= employee.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= employee.pincode %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= employee.title %>
  </p>

  <p>
    <strong>Employee code:</strong>
    <%= employee.employee_code %>
  </p>

</div>
