<div>
  <%= link_to "Create New employee", new_admin_employee_path, class: "btn btn-primary float-end" %>
</div>
<!-- BREADCRUMB -->
<div class="page-meta">
  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Employees</li>
    </ol>
  </nav>
</div>
<!-- /BREADCRUMB -->



<div class="row layout-top-spacing">
  <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-8">
      <table id="zero-config" class="table dt-table-hover" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each_with_index do |employee, index| %>
          <tr>
            <td><%= index + 1  %></td>
            <td><%= employee.employee_code %></td>
            <td><%= employee.name %></td>
            <td><%= employee.email %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= link_to "View", admin_employee_path(employee), class: "dropdown-item" %></li>
                  <li><%= link_to "Edit", edit_admin_employee_path(employee), class: "dropdown-item" %></li>
                  <li><%= link_to "Delete", admin_employee_path(employee), class: "dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this employee?" } %></li>
                </ul>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>