<p>Dear <%= @employee.full_name %>,</p>

<p>I am writing to inform you that your leave request for <%= @leave_application.leave_type.name %> from <%= @leave_application.start_date %> to <%= @leave_application.end_date %> has been <%= @status %> by Admin.</p>
<% if @status == 'Approved' %>
  <p>Your leave request has been approved, and your leave balance has been updated accordingly. Please ensure that you have completed any pending work and handed over responsibilities before proceeding on leave.</p>
<% else %>
  <p>Unfortunately, your leave request has been rejected due to <%= @leave_application.reason_for_status_change %>. Please contact Admin if you have any questions or concerns regarding the decision.</p>
<% end %>
<p>Please note that our Employee Leave Management System allows you to view your leave balance, submit new leave requests, and track the status of your pending requests. We encourage you to utilize this system to manage your leaves effectively.</p>

<p>If you have any questions or concerns, please do not hesitate to contact me or [Admin Name] directly.</p>