<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Hello Admin,</h2>
    <p>Leave application submitted by employee <%= @employee.full_name %></p>

    <h4>Leave application details :</h4>
    <p>
      Leave apply date : <%= @leave_application.start_date %> TO <%= @leave_application.end_date %>
    </p>
    <p>
      Leave Type : <%= @leave_application.leave_type.name %>
    </p>
    <p>
      Reason of leave : <%= @leave_application.remarks %>
    </p>
    <p>
      Location : <%= @leave_application.leave_location %>
    </p>
    <p>
      Please click on below link for more details
    </p>
    <%= link_to "Leave Application", admin_leave_applications_url(@leave_application) %>
  </body>
</html>
