<div id="<%= dom_id leave_application %>">
  <p>
    <strong>Employee:</strong>
    <%= leave_application.employee_id %>
  </p>

  <p>
    <strong>Leave type:</strong>
    <%= leave_application.leave_type_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= leave_application.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= leave_application.end_date %>
  </p>

  <p>
    <strong>Is half day:</strong>
    <%= leave_application.is_half_day %>
  </p>

  <p>
    <strong>Leave location:</strong>
    <%= leave_application.leave_location %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= leave_application.contact %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= leave_application.remarks %>
  </p>

</div>
