<!-- BREADCRUMB -->
<div class="page-meta">
  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Leave Application</li>
    </ol>
  </nav>
</div>
<!-- /BREADCRUMB -->



<div class="row layout-top-spacing">
  <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-8">
      <table id="zero-config" class="table dt-table-hover" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Employee</th>
            <th>Leave Type</th>
            <th>From</th>
            <th>To</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @leave_applications.each_with_index do |leave_application, index| %>
          <tr>
            <td><%= index + 1  %></td>
            <td><%= link_to leave_application.employee.name, admin_employee_path(leave_application.employee) %></td>
            <td><%= leave_application.leave_type.name %></td>
            <td><%= leave_application.start_date %></td>
            <td><%= leave_application.end_date %></td>
            <td>
              <%= link_to "View", admin_leave_application_path(leave_application), class: "btn btn-primary" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
