<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <p class="lead">
            <strong>Employee:</strong>
            <%= @leave_application.employee.name %>
          </p>

          <p class="lead">
            <strong>Leave type:</strong>
            <%= @leave_application.leave_type.name %>
          </p>

          <p class="lead">
            <strong>Start date:</strong>
            <%= @leave_application.start_date %>
          </p>

          <p class="lead">
            <strong>End date:</strong>
            <%= @leave_application.end_date %>
          </p>

          <p class="lead">
            <strong>Total leaves applied:</strong>
            <%= pluralize(@leave_application.total_leaves_applied, 'day') %>
          </p>

          <p class="lead">
            <strong>Is half day:</strong>
            <%= @leave_application.is_half_day %>
          </p>

          <p class="lead">
            <strong>Leave location:</strong>
            <%= @leave_application.leave_location %>
          </p>

          <p class="lead">
            <strong>Contact:</strong>
            <%= @leave_application.contact %>
          </p>

          <p class="lead">
            <strong>Remarks:</strong>
            <%= @leave_application.remarks %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h3>Set Leave status</h3>

      <% leave_application_buttons[@leave_application.status].each do |status| %>
        <%= button_tag status, class: "btn btn-#{status.downcase} btn my-2 status-btn", type: 'button', data: { 'bs-toggle': "modal", 'bs-target': "#leaveApplicationStatusModal"}, onclick: "setStatus(this)" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h2 class="fw-bold">Employee leave summary</h2>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <p class="lead fw-bold">Casual Leaves</p>
        </div>
        <div class="card-body">
          <p class="lead"><strong>Granted: </strong><%= @leave_summary.cl_granted %></p>
          <p class="lead"><strong>Taken: </strong><%= @leave_summary.cl_taken %></p>
          <p class="lead"><strong>Available: </strong><%= @leave_summary.cl_available %></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <p class="lead fw-bold">Sick Leaves</p>
        </div>
        <div class="card-body">
          <p class="lead"><strong>Granted: </strong><%= @leave_summary.sl_granted %></p>
          <p class="lead"><strong>Taken: </strong><%= @leave_summary.sl_taken %></p>
          <p class="lead"><strong>Available: </strong><%= @leave_summary.sl_available %></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <p class="lead fw-bold">Earned Leaves</p>
        </div>
        <div class="card-body">
          <p class="lead"><strong>Granted: </strong><%= @leave_summary.el_granted %></p>
          <p class="lead"><strong>Taken: </strong><%= @leave_summary.el_taken %></p>
          <p class="lead"><strong>Available: </strong><%= @leave_summary.el_available %></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <p class="lead fw-bold">Optional Leaves</p>
        </div>
        <div class="card-body">
          <p class="lead"><strong>Granted: </strong><%= @leave_summary.ol_granted %></p>
          <p class="lead"><strong>Taken: </strong><%= @leave_summary.ol_taken %></p>
          <p class="lead"><strong>Available: </strong><%= @leave_summary.ol_available %></p>
        </div>
      </div>
    </div>
    <div class="col">
      <% if @leave_application.employee.gender == 'Male' %>
        <div class="card">
          <div class="card-header">
            <p class="lead fw-bold">Paternity Leaves</p>
          </div>
          <div class="card-body">
            <p class="lead"><strong>Granted: </strong><%= @leave_summary.pl_granted %></p>
            <p class="lead"><strong>Taken: </strong><%= @leave_summary.pl_taken %></p>
            <p class="lead"><strong>Available: </strong><%= @leave_summary.pl_available %></p>
          </div>
        </div>
      <% else %>
        <div class="card">
          <div class="card-header">
            <p class="lead fw-bold">Maternity Leaves</p>
          </div>
          <div class="card-body">
            <p class="lead"><strong>Granted: </strong><%= @leave_summary.ml_granted %></p>
            <p class="lead"><strong>Taken: </strong><%= @leave_summary.ml_taken %></p>
            <p class="lead"><strong>Available: </strong><%= @leave_summary.ml_available %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-5 mb-5">
    <%= link_to "Back to leave applications", admin_leave_applications_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
<%= render 'update_leave_status_modal' %>
<%= javascript_include_tag 'custom.js' %>