<!-- BREADCRUMB -->
<!-- <div class="page-meta">
  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Users</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
</div> -->
<!-- /BREADCRUMB -->

<div class="row layout-spacing ">

  <!-- Content -->
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 layout-top-spacing">
    <div class="user-profile">
      <div class="widget-content widget-content-area">
        <div class="d-flex justify-content-between">
          <h3 class="">Employee</h3>
        </div>
        <div class="text-center user-info">
          <%= image_tag "profile-3.jpeg", alt:"avatar", style: 'border-radius:20%;' %>
          <p class="mt-3 fw-bold"><%= @leave_application.employee.name %></p>
        </div>
        <div class="user-info-list">

          <div class="">
            <ul class="contacts-block list-unstyled">
              <li class="contacts-block__item fs-6">
                <strong>Leave type:</strong>
                <%= @leave_application.leave_type.name %>
              </li>
              <li class="contacts-block__item fs-6">
                <strong>Start date:</strong>
                <%= @leave_application.start_date %>
              </li>
              <li class="contacts-block__item fs-6">
                <strong>End date:</strong>
                <%= @leave_application.end_date %>
              </li>
              <li class="contacts-block__item fs-6">
                <strong>Total leaves applied:</strong>
                <%= pluralize(@leave_application.total_leaves_applied, 'day') %>
              </li>
              <li class="contacts-block__item fs-6">
                <strong>Is half day:</strong>
                <%= @leave_application.is_half_day %>
              </li>
              <li class="contacts-block__item fs-6">
                <strong>Leave location:</strong>
                <%= @leave_application.leave_location %>
              </li>
              <li class="contacts-block__item fs-6">
                <strong>Contact:</strong>
                <%= @leave_application.contact %>
              </li>
              <li class="contacts-block__item fs-6">
                <strong>Remarks:</strong>
                <%= @leave_application.remarks %>
              </li>
            </ul>
          </div>                                    
        </div>
      </div>
    </div>
  </div>    

  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 layout-top-spacing">
    <div class="user-profile">
      <div class="widget-content widget-content-area">
        <div class="d-flex justify-content-between">
          <h3 class="">Set Leave status</h3>
        </div>
        <div class="text-center user-info">
          <% leave_application_buttons[@leave_application.status].each do |status| %>
          <%= button_tag status, class: "btn btn-#{status.downcase} btn my-2 status-btn", type: 'button', data: { 'bs-toggle': "modal", 'bs-target': "#leaveApplicationStatusModal"}, onclick: "setStatus(this)" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>    
</div>
</div>



<div class="row">
  <h3 class="mb-3">Employee leave summary</h3>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
    <div class="summary layout-spacing ">
      <div class="widget-content widget-content-area">

        <div class="order-summary">
          <h3 class="">Casual Leaves</h3>
          <div class="summary-list summary-income">

            <div class="summery-info">

              <div class="w-summary-details">

                <div class="w-summary-info">
                  <h6>Granted: <span class="summary-count"><%= @leave_summary.cl_granted %></span></h6>
                </div>

              </div>

            </div>

          </div>

          <div class="summary-list summary-profit">

            <div class="summery-info">

              <div class="w-summary-details">

                <div class="w-summary-info">
                  <h6>Taken: <span class="summary-count"><%= @leave_summary.cl_taken %></span></h6>
                </div>

              </div>

            </div>

          </div>

          <div class="summary-list summary-expenses">

            <div class="summery-info">

              <div class="w-summary-details">

                <div class="w-summary-info">
                  <h6>Available: <span class="summary-count"><%= @leave_summary.cl_available %></span></h6>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
    <div class="summary layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="order-summary">
          <h3 class="">Sick Leaves</h3>
          <div class="summary-list summary-income">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Granted: <span class="summary-count"><%= @leave_summary.sl_granted %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-profit">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Taken: <span class="summary-count"><%= @leave_summary.sl_taken %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-expenses">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Available: <span class="summary-count"><%= @leave_summary.sl_available %></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
    <div class="summary layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="order-summary">
          <h3 class="">Earned Leaves</h3>
          <div class="summary-list summary-income">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Granted: <span class="summary-count"><%= @leave_summary.el_granted %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-profit">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Taken: <span class="summary-count"><%= @leave_summary.el_taken %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-expenses">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Available: <span class="summary-count"><%= @leave_summary.el_available %></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
    <div class="summary layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="order-summary">
          <h3 class="">Optional Leaves</h3>
          <div class="summary-list summary-income">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Granted: <span class="summary-count"><%= @leave_summary.ol_granted %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-profit">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Taken: <span class="summary-count"><%= @leave_summary.ol_taken %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-expenses">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Available: <span class="summary-count"><%= @leave_summary.ol_available %></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% if @leave_application.employee.gender == 'Male' %>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
    <div class="summary layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="order-summary">
          <h3 class="">Paternity Leaves</h3>
          <div class="summary-list summary-income">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Granted: <span class="summary-count"><%= @leave_summary.pl_granted %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-profit">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Taken: <span class="summary-count"><%= @leave_summary.pl_taken %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-expenses">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Available: <span class="summary-count"><%= @leave_summary.pl_available %></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
    <div class="summary layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="order-summary">
          <h3 class="">Maternity Leaves</h3>
          <div class="summary-list summary-income">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Granted: <span class="summary-count"><%= @leave_summary.ml_granted %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-profit">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Taken: <span class="summary-count"><%= @leave_summary.ml_taken %></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-list summary-expenses">
            <div class="summery-info">
              <div class="w-summary-details">
                <div class="w-summary-info">
                  <h6>Available: <span class="summary-count"><%= @leave_summary.ml_available %></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="mt-5 mb-5">
  <%= link_to "Back to leave applications", admin_leave_applications_path, class: 'btn btn-outline-primary' %>
</div>

<%= render 'update_leave_status_modal' %>
<%= javascript_include_tag 'custom.js' %>