<!DOCTYPE html>
<html>
  <head>
    <title>AiEmpPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'admin/shared/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'admin/shared/sidebar' %>
        <main class="col-md-9 ms-sm-auto mt-5 col-lg-10 px-md-4" style="min-height: 692px;">
          <%= render 'shared/flash' %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
